/* pc */
@media (max-width: 1250px) {
  .inner {
    width: auto;
    max-width: 1200px;
    padding: 0 20px;
  }
  /* 헤더 */
  header .headerMenu nav .depth01 .depth02 .inner figure {
    display: none;
  }
  header .headerMenu nav .depth01 .depth02 .depth03 > li {
    display: inline-block;
    width: 33.333%;
  }
  header .headerMenu .logo {
    position: fixed;
    left: 20px;
    top: 0;
    padding: 0;
  }
  header .headerMenu .logo h1 a {
    height: 35px;
    width: 125px;
  }
  /* 검색섹션 */
  .mainBnrSearch .inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
  .mainBnrSearch .searchWrap {
    width: 100%;
    order: 3;
  }
  .mainBnrSearch .leftBnr,
  .mainBnrSearch .rightBnr {
    width: 45%;
  }
  .mainBnrSearch .leftBnr img,
  .mainBnrSearch .rightBnr img {
    width: 100%;
  }
  
  /* 알림섹션 */
  .notice {
   padding: 0 20px;
  }
  .notice .left .noticeTap button,
  .notice .right .newsTap button {
    font-size: 1rem;
  }
  .notice .left .noticeList ul li {
    width: 95%;
  }
  .notice .left .noticeList ul li a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .notice .left .noticeList ul li span {
    white-space: nowrap;
  }
  .notice .right .newsList ul li {
    width: 49%;
  }

  /* sns섹션 */
  .snsWrap {
    padding: 40px 20px;
  }
  .snsWrap .left {
    padding: 0;
    align-items: center;
  }
  .snsWrap .left .ctrl {
    flex-direction: column;
    align-items: baseline;
    margin-top: 20px;
    row-gap: 20px;
  }

  /* 배너섹션 */
  .banner {
    height: fit-content;
    padding: 40px 0;
  }

  /* 백그라운드 */
  .backImg {
    display: none;
  }

  /* 푸터 */
  .footerBrnWrap .btnWrap button {
    /* width: 15px; */
  }
  .footerInfo {
    padding-bottom: 10px;
  }
}
/* 태블릿 */
@media (max-width:990px) {
  /* 헤더 */
  header .headerMenu nav  {
    display: none;
  };
  header .siteMap {
    margin-left: auto;
  }
  header .headerMenu .logo {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  header .headerMenu .logo h1 a {
    height: 40px;
    width: 180px;
  }
  header .siteMap {
    position: absolute;
    top: 50%;
    right: 20px;
  }
  /* 아이콘메뉴 */
  .mainIcoWrap .icoList {
    justify-content: space-between;
  }
  .mainIcoWrap .icoList li {
    width: 15%;
  }
  .mainIcoWrap .icoList li img {
    width: 50px;
    min-width: 45px
  }
  .mainIcoWrap .icoList li span{
    font-size: 0.8rem;
  }
  /* 알림 */
  .notice .inner {
    flex-wrap: wrap;
    padding: 40px 20px;
    row-gap: 20px;
  }
  .notice .left .noticeTap,
  .notice .right .newsTap {
    justify-content: center;
  }
  .notice .left .noticeTap button,
  .notice .right .newsTap button {
    font-size: 1.2rem;
  }
  .notice .left {
    width: 100%;
  }
  .notice .left .noticeList ul li {
    width: 100%;
  }
  .notice .right {
    width: 100%;
  }
  .notice .right .newsList ul li {
    width: 50%;
   
  }
  .notice .right .newsList ul li a .img {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 60%;
    overflow: hidden;
  }
  .notice .right .newsList ul li a .img img {
    position: absolute;
    left: 0;
    right: 0;
    top:50%;
    transform: translateY(-50%);
  }
  /* 공원소개 */
  .mapWrap .txtDots .customDots {
    width: 80%;
  }
  .mapWrap .mapSliderWrap {
    flex-wrap: wrap;
    height: auto;
  }
  .mapWrap .mapSliderWrap .txtList {
    width: 100%;
    height: 350px;
    margin-bottom: 40px;
  }
  .mapWrap .mapSliderWrap .txtList .txtInfo {
    width: 85%;
  }
  .mapWrap .mapSliderWrap .txtList .txtInfo .img img {
    width: 70%;
  }
  .mapWrap .mapSliderWrap .mapSlider {
    width: 70%;
    margin: 0 auto;
  }

  /* 플루팅메뉴 */
  .floatingMenu {
    display: none;
  }

  /* 푸터 */
  .footerBrnWrap .btnWrap button {
    width: 15px;
  }
  .footerLink .inner {
    flex-direction: column;
  }
  .footerLink .linkWrap {
    display: flex;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
  }
  .footerLink .linkWrap select {
    flex: 1;
  }
  .footerLink .linkWrap select:nth-child(2) {
    border-right: none;
  }
  .footerLink .snsWrap {
    justify-content: center;
    padding: 15px 0;
  }

  .footerInfo .top .link {
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
  }
  .footerInfo .btm .left {
    width: 100%;
    justify-content: center;
    padding-bottom: 20px ;
  }
  .footerInfo .btm {
    flex-direction: column;
  }
  .footerInfo .btm .right {
    justify-content: center;
  }
}

/* 모바일 */
@media (max-width:480px) {
  /* 플루팅메뉴 */
  .floatingMenu {
    display: none;
  }

  /* 헤더 */
  header .headerUtil {
    display: none;
  }
  header .siteMap a span {
    display: none;
  }

  /* 아이콘메뉴 */
  .mainIcoWrap .icoList {
    flex-wrap: wrap;
    row-gap: 15px;
  }
  .mainIcoWrap .icoList li {
    width: 33.3333%;
  }

  /* 비주얼 */
  .visualWrap {
    display: flex;
    align-items: center;
  }
  .visualWrap .visualTit {
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    line-height: 18px;
  }

  /* 검색 */
  .mainBnrSearch .inner {
    gap: 10px;
  }
  .mainBnrSearch .searchWrap {
    order: -1;
  }
  .mainBnrSearch .searchWrap .searchBox input#search {
    height: 50px;
  }
  .mainBnrSearch .searchWrap .papular span {
    white-space: nowrap;
    font-size: 0.8rem;
  }
  .mainBnrSearch .searchWrap .papular ul li a {
    white-space: nowrap;
    font-size: 0.7rem;
  }
  .mainBnrSearch .leftBnr,
  .mainBnrSearch .rightBnr {
    width: 80%;
  }

  /* 탐방통제 */
  .controlWrap {
  }
  .controlWrap h2,
  .controlWrap p {
    text-align: center;
  }
  .controlWrap p {
    font-size: 0.8rem;
  }
  .controlWrap .cardWrap {
    /* padding: 0 20px; */
  }
  .controlWrap .cardWrap .cardList .slick-list {
    /* padding: 0 -20px; */
  }
  .controlWrap .cardWrap .cardList .card {
    /* width: 90%; */
  }
  .controlWrap .cardWrap button {
    width: 0;
    height: 0;
    font-size: 1.3rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: transparent;
    color: #333;
  }
  .controlWrap .cardWrap button.prevBtn {
    left: 0;
  }
  .controlWrap .cardWrap button.nextBtn {
    right: 10px;
  }

  /* 공지 */
  .notice .inner {
    padding: 0;
    padding: 40px 0;
  }
  .notice .left .noticeTap,
  .notice .right .newsTap {
    justify-content: left;
  }
  .notice .left .noticeTap button,
  .notice .right .newsTap button {
    font-size: 0.9rem;
  }

  /* 공원소개 */
  .mapWrap .txtDots .customDots {
    width: 100%;
  }
  .mapWrap .txtDots .customDots li {
    font-size: 1rem;
  }
  .mapWrap .mapSliderWrap .txtList {
    height: 210px;
    margin-bottom: auto;
  }
  .mapWrap .mapSliderWrap .txtList .txtInfo {
    width: 70%;
    padding: 30px 40px;
  }
  .mapWrap .mapSliderWrap .txtList .txtInfo .img {
    right: -90px;
  }
  .mapWrap .mapSliderWrap .txtList .txtInfo .img img {
    width: 50%;
  }
  .mapWrap .mapSliderWrap .txtList .txtInfo h2 {
    font-size: 1.5rem;
  }
  .mapWrap .mapSliderWrap .txtList .txtInfo .hr {
    margin: 20px 0;
  }
  .mapWrap .mapSliderWrap .txtList .txtInfo p {
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
  }
  .mapWrap .mapSliderWrap .txtList .txtInfo span {
    font-size: 0.8rem;
    white-space: nowrap;
  }
  .mapWrap .mapSliderWrap .mapSlider {
    width: 100%;
    height: auto;
  }

  /* sns섹션 */
  .snsWrap {
    flex-wrap: wrap;
  }
  .snsWrap .left {
    width: 100%;
  }
  .snsWrap .left h2,
  .snsWrap .left p {
    text-align: center;
  }
  .snsWrap .left h2 {
    font-size: 1.4rem;
  }
  .snsWrap .left p {
    font-size: 0.7rem;
  }
  .snsWrap .left .ctrl {
    position: relative;
  }
  .snsWrap .left a.link,
  .snsWrap .left .ctrl .progressBar {
    display: none;
  }
  .snsWrap .left .ctrl .arrows button {
    width: 0;
    height: 0;
    font-size: 1.3rem;
    background: transparent;
    color: #333;
    position: absolute;
    top: 100px;
    z-index: 1;
  }
  .snsWrap .left .ctrl .arrows .prevBtn {}
  .snsWrap .left .ctrl .arrows .nextBtn {
    right: 10px;
  }

  .snsWrap .right {
    width: 100%;
  }
  .snsWrap .right .snsSlider {
    /* padding: 0 10px; */
  }
  .snsWrap .right .snsSlider .card strong,
  .snsWrap .right .snsSlider .card p {
    -webkit-line-clamp: 1;
  }

  /* 배너섹션 */
  .banner {
    height: auto;
    padding: 0;
  }
  .banner .img {
    height: auto;
  }

  /* 푸터 */
  .footerLink .inner {
    /* flex-wrap: nowrap; */
  }
  .footerLink .linkWrap {
    flex-direction: column;
    border: none;
  }
  .footerLink .linkWrap select {
    width: 100%;
    flex: none;
    border-right: 0;
    border-bottom: 1px solid #eee;
  }

  .footerInfo .top .link {
    font-size: 0.9rem;
    line-height: 25px;
    align-items: end;
  }
  .footerInfo .btm .left {
    display: block;
    text-align: center;
  }
  .footerInfo .btm .left .logo {
    padding-bottom: 20px;
    display: none;
  }
  .footerInfo .btm .left .info {
    margin-left: 0;
    text-align: left;
  }
  .footerInfo .btm .right {
    display: none;
  }
}