/* pc */
@media (max-width: 1250px) {
  .inner {
    width: auto;
    max-width: 1200px;
    padding: 0 20px;
  }
  /* 헤더 */
  header .headerMenu nav .depth01 .depth02 .inner figure {
    display: none;
  }
  header .headerMenu nav .depth01 .depth02 .depth03 > li {
    display: inline-block;
    width: 33.333%;
  }
  header .headerMenu .logo {
    position: fixed;
    left: 20px;
    top: 0;
    padding: 0;
  }
  header .headerMenu .logo h1 a {
    height: 35px;
    width: 125px;
  }

  /* 알림섹션 */
  .notice {
    margin: 40px 0;
  }

  /* sns섹션 */
  .snsWrap {
    padding: 40px 0;
  }

  /* 푸터 */
  .footerInfo {
    padding-bottom: 10px;
  }
}
/* 태블릿 */
@media (max-width:990px) {
  header .headerMenu nav  {
    display: none;
  };
  header .siteMap {
    margin-left: auto;
  }
  header .headerMenu .logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  header .headerMenu .logo h1 a {
    height: 40px;
    width: 180px;
  }
  header .siteMap {
    position: absolute;
    top: 50%;
    right: 0;
  }

  .floatingMenu {
    display: none;
  }
  .mainBnrSearch {
    border: 1px solid black;
  }
  .mainBnrSearch .searchWrap {
    border: 1px solid black;
    /* display: none; */
  }
  .rightBnr {
    float: left;
  }
}

/* 모바일 */
@media (max-width:500px) {
  header .headerUtil {
    display: none;
  }
}